.input {
  display: flex;
  justify-content: center;
  flex: 1;
}
.inputBox input {
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #dddfe2;
  border-radius: 6px;
  line-height: 16px;
  font-size: 17px;
  color: #dddfe2;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  color: black;
}

.inputBox input:focus {
  outline: none !important;
  border: 1px solid #1877f2;
}
